dot-local/share/icons/hicolor/scalable/apps
dot-config/tmux/plugins
dot-config/tmux/tmux-client-91333.log
dot-local/share/icons/hicolor
dot-config/nushell/history.txt
dot-cache/starship
dot-local/share/icons
dot-config/tmux/tmux-client-41829.log
dot-config/hypr/monitors.conf
dot-config/cava
dot-config/hypr/wallust
dot-config/kitty/kitty-themes/01-Wallust.conf
dot-config/rofi/wallust
dot-config/rofi/.current_wallpaper
dot-config/waybar/wallust
dot-config/waybar/config
dot-config/waybar/style.css
dot-config/hypr/workspaces.conf
dot-config/ghostty/themes/Wallust
dot-config/qt5ct/colors/caelestia.colors
dot-config/qt6ct/colors/caelestia.colors
