[submodule "dot-config/alacritty/themes"]
	path = dot-config/alacritty/themes
	url = https://github.com/eendroroy/alacritty-theme.git
    branch = master
[submodule "dot-config/nvim"]
	path = dot-config/nvim
	url = https://github.com/eslam-allam/nvim-lazy.git
    branch = main
[submodule "dot-zprezto"]
	path = dot-zprezto
	url = https://github.com/eslam-allam/.zprezto.git
    branch = master
[submodule "dot-local/themes/thunderbird/catppuccin"]
	path = dot-local/themes/thunderbird/catppuccin
	url = https://github.com/catppuccin/thunderbird.git
[submodule "caelestia"]
	path = caelestia
	url = https://github.com/eslam-allam/caelestia.git
